<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="taamol.Properties.Settings.Gyms_ManagmentConnectionString"
            connectionString="Data Source=DESKTOP-6CHP1N7\PTSSQLSERVER;Initial Catalog=Gyms_Managment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>